In [1]:
s = 'a$b@c@d'
print(s.split('@','$'))

TypeError: 'str' object cannot be interpreted as an integer

In [2]:
fruits = ['apple', 'mango', ['grapes', 'papaya'], ('banana', 'pomegranate')]

In [3]:
fruits[3][0]

'banana'

In [4]:
list_1 = ['red' , 'orange', 'blue', 'green', 'black', 'white']
print(list_1.sort())

None

In [5]:
num_1=[9,4,2,7]
num_2=[8,3,6,1]
print(sorted(num_1))
print(num_1)
print(num_2.sort())
print(num_2)

[2, 4, 7, 9]
[9, 4, 2, 7]
None
[1, 3, 6, 8]

In [6]:
l = ['paris','india','china','london']
print(tuple(l+['sri lanka']))

('paris', 'india', 'china', 'london', 'sri lanka')

In [7]:
var=(5)
print(type(var))

<class 'int'>

In [8]:
tup=([1,3,5],"abcd",(2,4),6)
tup[0][2]=7
print(tup)

([1, 3, 7], 'abcd', (2, 4), 6)

In [9]:
a= {1,2,4,5}
b= {5,6,7,8}
print(a-b)

{1, 2, 4}

In [10]:
s= {3,4,5}
s*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [11]:
numbers= {1,0,6,1,4,0,7}
print(len(numbers))

5

In [12]:
dict= {'ab':12,'cd':34,'ef':56}
print(dict[1])

KeyError: 1

In [13]:
marks= {'John':45,'Alex':60}
print(marks.keys())

dict_keys(['John', 'Alex'])

In [14]:
d = {"Python":40, "R":45}
"Python" in d

True

In [15]:
input_dict= {1:"one",2:"two",3:"three"}
for i in input_dict:
  print(i)

1
2
3

In [16]:
input_str="I love programming in python"
count=0
l=['a','e','i','o','u']
for i in input_str.lower():
  if i in l:
  	count=count+1
print(count)

8

In [26]:
x = [11, 13, 101, 14, 33, 141]

In [27]:
sum(x)

313

In [28]:

if len(x) <= 11:
    print(sum(x))
else:
    print(-1)

313

In [36]:
x = list(input())

[11, 13, 101, 14, 33, 141]

TypeError: 'int' object is not callable

In [40]:
x = [11, 13, 101, 14, 33, 141]

if len(x) > 11:
    print(-1)
else:
    print(sum(x))

313

In [35]:
len(x)

26

In [45]:
import ast

x = ast.literal_eval(input())

if len(x) > 11:
    print(-1)
else:
    print(sum(x))

[11, 13, 101, 14, 33, 141]
313

In [62]:

input_list = input().split(",")
input_int = int(input())
i = 0
for c in input_list:
    if len(c.strip()) > input_int:
         i+=1
print(i) #exact solution in next cell

[Datascience, Data Analyst, Programmer, Manager]
8
3

In [ ]:
import ast
import sys

input_str = sys.stdin.readline().strip(",")
input_list = ast.literal_eval(input_str)
input_int = int(input())

# Start writing your code here
count = 0
for c in input_list:
    if len(c.strip()) >= input_int: 
        count += 1
print(count)

In [ ]:
import ast
input_list = ast.literal_eval(input())
K = int(input())
new_list =[]
for i in range(0,len(input_list)):
    if input_list[i].isdigit():
        new_list.append(str(int(input_list[i]) + K))
    else:
        new_list.append(input_list[i])
print(new_list) # this can be written like next cell or better code

In [ ]:
import ast
input_list = ast.literal_eval(input())
K = int(input())
new_list =[]
for i in input_list:
    if i.isdigit():
        new_list.append(str(int(i) + K))
    else:
        new_list.append(i)
print(new_list)

In [ ]:
import ast
input_list = ast.literal_eval(input())
K = int(input()) - 1

print(input_list[K:])

In [110]:
# Given a string, write a Python program to find the largest substring of uppercase characters.
# print the length of that substring. Check the sample inputs and outputs for a better understanding.

In [89]:
test_str = input()

I lovE PRogrAMMING

In [90]:
test_str

'I lovE PRogrAMMING'

In [91]:
max_len = 0
current_len = 0 

for i in test_str:
    if i.isupper():
        current_len += 1
        max_len = max(current_len,max_len)
    else:
        current_len = 0
print(max_len)

6

A class of students attempt an exam in two parts: ‘Aptitude’ and ‘Physics'. 
The marks of all the students are stored as a list of tuples, and each student’s marks (in Aptitude and Physics) are stored in each tuple.
Your task is to write a Python program to sort the list of tuples in decreasing order of the Physics scores of the students.

Note - Marks of both the subjects are ranged between 1-100, and no two students have scored the same marks in Physics.

In [122]:
student_marks = [(45, 77), (88, 87), (67, 98), (33, 31)]
length = len(student_marks)
for i in student_marks:
    for j in range(0,length - 1):
        if student_marks[j][1] < student_marks[j+1][1]:
            student_marks[j],student_marks[j+1] = student_marks[j+1],student_marks[j]
print(student_marks)

[(67, 98), (88, 87), (45, 77), (33, 31)]

# Divisibility check
Description
Given an integer ‘n’, your task is to write a Python code to find whether ‘n’ is divisible by all its digits or not. If they divide the number, then the number ‘n’ is a happy number. Otherwise, it is a sad number.

The number ‘n’ may be provided with commas. At first, you have to clean the number (by removing the commas involved) and then check whether the number is happy or sad.

In [28]:
initial_input = input()
x = initial_input.replace(",","")
y = 0

for i in x:
    if i.isdigit():
        if int(i) != 0:
            if int(x) % int(i) == 0:
                y += 1
if y == len(x):
    print("Happy Number")
elif x.isalpha():
    print("String")
else:
    print("Sad Number")

256
Sad

Updating the dictionary keys
Description
You are provided with a dictionary containing the names of different football clubs as keys and the name of the main player of the corresponding team as values. When the main player of a team retires, one of their teammates steps up to fill in their role as the main player.


You’re also provided with a list which contains the names of the football clubs for which the current main players are retiring and the names of the corresponding new main player. Your task is to update the values in the original dictionary with the names of the new main players.



------------------------------------------------------------------------------------------------------



Input - The input consists of a dictionary with different football clubs' names and their main player. In the next line, you will be provided with a list of the new players who have taken up the main roles.



Output - Dictionary



---------------------------------------------------------------------------------------------------



Sample Input :

{Barcelona:’Messi’ , ‘Real Madrid’: ‘Benzema’, ‘PSG’: ‘Neymar’ }

[[‘Barcelona’, ‘Griezmann’], [‘PSG’, ‘Ramos’]]



Sample Output: {Barcelona:‘Griezmann’, ‘Real Madrid’: ‘Benzema’, ‘PSG’: ‘Ramos’}



---------------------------------------------------------------------------------------------------



Sample Input:

{Liverpool:’A’, ‘Real Madrid’: ‘B’, ‘Chelsea’: ‘C’ }

[[Liverpool, ‘R’]]



Sample Output: {Liverpool:’R’, ‘Real Madrid’: ‘B’, ‘Chelsea’: ‘C’ }





---------------------------------------------------------------------------------------------------



Sample Input :

 {Atletico Madrid : ’D’ , ‘Juventus’: ‘B’, ‘Chelsea’: ‘C’ }

[[‘Juventus’, ‘G’], [‘Chelsea’, ‘H’]]



Sample Output: {Atletico Madrid : ’D’, ‘Juventus’: ‘G’, ‘Chelsea’: ‘H’ }

In [29]:
# Solution

#Take input here
#we will take input using ast sys
import ast
#reading the input dictionary
input_dictionary = input()
convert_dictionary = ast.literal_eval(input_dictionary)

#reading the input list
input_list = input()
convert_list = ast.literal_eval(input_list)

for club,player in convert_list:
    if club in convert_dictionary:
        convert_dictionary[club] = player
print(convert_dictionary)

 List average
Description
Suppose you are working as a Marketing Lead in a company and you want to recruit new employees in your team (which already consists of 10 members) to carry out the company’s major project. You select the employees based on five parameters: A, B, C, D and E. The value of each parameter is represented on a scale of 1 to 10. The present average value of these parameters for your team is given to you in a list (in the same order). You recruit a person only if their scores do not reduce the average score of more than two parameters of your team. If they are recruited, print the output as ‘Selected’. If not, print the output as ‘Rejected’.



--------------------------------------------------------------------------------------------------



Input - Two lists, where the first list is the average scores of the team in the five parameters, and the second list is the scores of the new employee in all the five parameters. The parameter order is the same for both the lists, which is A, B, C, D and E.

 Sample Input - [‘8’, ‘4’, ‘6’, ‘9’, ‘7’]

  [‘1’, ‘1.1’, ‘1.2’, ‘1.2’, ‘2.3’]




Sample Output - Rejected

In [ ]:
input_list = input()
teams = ast.literal_eval(input_list)

input_list = input()
recruit = ast.literal_eval(input_list)

In [37]:
teams = ['10', '5', '6', '9', '7']

recruit = ['10', '9.8', '7.2', '1.66', '4.3']

In [38]:
count = 0
for i in range(0,5):
    if float(teams[i]) > float(recruit[i]):
        count += 1
if count > 2:
    print("Rejected")
else:
    print("Selected")

Selected

Merge dictionaries
Description
Write a python code to merge two dictionaries into a single dictionary.



--------------------------------------------------------------------------------------------------



Input: Two dictionaries, one in each line



Output: A Dictionary



--------------------------------------------------------------------------------------------------



Sample Input :

{'a': 10, 'b': 8}

{'d': 6, 'c': 4}



Sample Output : {'c': 4, 'a': 10, 'b': 8, 'd': 6}



--------------------------------------------------------------------------------------------------



Sample Input :

{'a': 110, 'b': 88}

{'d': 62, 'c': 44}



Sample Output : {'a': 110, 'b': 88, 'd': 62, 'c': 44}

In [ ]:
import ast

input_dictionary1 = input()
dict1 = ast.literal_eval(input_dictionary1)
input_dictionary2 = input()
dict2 = ast.literal_eval(input_dictionary2)
#Write the code here
merged_dict = {**dict1, **dict2}

print(merged_dict)

In [39]:
# alternate method

In [ ]:
import ast

input_dictionary1 = input()
dict1 = ast.literal_eval(input_dictionary1)
input_dictionary2 = input()
dict2 = ast.literal_eval(input_dictionary2)
#Write the code here
merged_dict = dict1.copy()
merged_dict.update(dict2)

print(merged_dict)