# Data Structures on Python

### Tuples:

In [1]:
t = (45,"ffhef",546)

In [2]:
t(0)

TypeError: 'tuple' object is not callable

In [3]:
t[0]

45

In [4]:
type(t)

tuple

In [5]:
sample = 1,5,656,5,54

In [6]:
print(sample)

(1, 5, 656, 5, 54)

In [7]:
sample = 1 #not tuple
sample1 = 1, #this is tuple

In [8]:
type(sample)

int

In [9]:
type(sample1)

tuple

In [11]:
t = 1,5,656,5,54

Indexing and Slicing:

In [12]:
t[0],t[-1]

(1, 54)

In [13]:
t[::-1]

(54, 5, 656, 5, 1)

In [14]:
t[0:2]

(1, 5)

Lets say strings in  tuple or nested tuple

In [15]:
t = 1,2,2,3,4,5,"Fiona"

In [17]:
t[-1]

'Fiona'

In [18]:
t[-1][::-1]

'anoiF'

In [19]:
t1 = "This is","Two Tuples"
t2 = "combined",
t3 = t1 + t2

In [23]:
type(t3)

tuple

In [24]:
t3

('This is', 'Two Tuples', 'combined')

In [25]:
t = (2, 4, 3, 5, 7)
sum(t)

21

In [26]:
t = (2, 4, 3, 5, 7)
min(t)

2

In [27]:
t = (2, 4, 3, 5, 7)
max(t)

7

In [28]:
set(t)

{2, 3, 4, 5, 7}

## Tuples is Immutable

In [29]:
t

(2, 4, 3, 5, 7)

In [30]:
t[0] = "10"

TypeError: 'tuple' object does not support item assignment

In [31]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

(2, 4, 3, 'Hard Rock', 7)

In [32]:
sorted(t)

[2, 3, 4, 5, 7]

### Notice result came as List after sorting

In [33]:
t = sorted(t)

In [34]:
type(t)

list

In [37]:
t = tuple(t)

In [38]:
type(t)

tuple

In [39]:
t = (1,5,"Disco", ("Python", "Java"))

In [40]:
t[3][1]

'Java'

Packing and Unpacking in tuples

In [42]:
t = (1,2,3,4)  # packing

In [43]:
(a,b,c,d) = t #unpacking

In [44]:
print (a)

1

In [45]:
t =()

To view the attributes or methods of an object, we are trying to see attributes of empty tuple

In [46]:
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

## List:

In [47]:
l = []

In [48]:
type(l)

list

In [49]:
l = ["USA", 23, 6, "New York"]

In [50]:
l[0]

'USA'

In [51]:
l[-1]

'New York'

In [54]:
l[0] = "Nishanth" # Mutable it seems

In [53]:
l

['Nishanth', 23, 6, 'New York']

In [55]:
l[::-1]

['New York', 6, 23, 'Nishanth']

#### Membership in List :

In [56]:
l = ["Nishanth", "Fiona" , 12, 1998 ]

In [57]:
"Nishanth" in l

True

In [59]:
 "nishanth" in l # case sensitive

False

In [60]:
"Fiona" not in l

False

#### list concact

In [67]:
l = ["Nishanth", "Fiona" , 12, 1998 ]

In [68]:
l1 = l + ["Age", "Young"]

In [69]:
l1

['Nishanth', 'Fiona', 12, 1998, 'Age', 'Young']

In [71]:
l1[1] = "Fulgora"

In [72]:
l1

['Nishanth', 'Fulgora', 12, 1998, 'Age', 'Young']

In [73]:
l1.extend(["New Data",999])

In [74]:
l1

['Nishanth', 'Fulgora', 12, 1998, 'Age', 'Young', 'New Data', 999]

In [75]:
l1.append(["Appended Data"])

In [77]:
l1

['Nishanth',
 'Fulgora',
 12,
 1998,
 'Age',
 'Young',
 'New Data',
 999,
 ['Appended Data']]

In [78]:
del l1[-1]

In [79]:
l1

['Nishanth', 'Fulgora', 12, 1998, 'Age', 'Young', 'New Data', 999]

In [80]:
l1.pop()

999

In [81]:
l1

['Nishanth', 'Fulgora', 12, 1998, 'Age', 'Young', 'New Data']

In [83]:
l1.remove(12)

In [84]:
l1

['Nishanth', 'Fulgora', 1998, 'Age', 'Young', 'New Data']

In [85]:
l1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [86]:
l = [45,546,64,5,4,9,84,84,64646,6,54,]

In [87]:
l.sort()

In [88]:
l

[4, 5, 6, 9, 45, 54, 64, 84, 84, 546, 64646]

#### Difference between sort and sorted

In [89]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [90]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

In [92]:
A.clear()

In [93]:
A

[]

Problems in learning module

In [95]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [96]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [98]:
x = input()
input_list = x.split(',')
input_list["SPSS"] = ["SPARK"]
print(input_list)

['five', 'four', 'one', 'six', 'three', 'two',"SPSS"]

TypeError: list indices must be integers or slices, not str

In [99]:
x = input()
input_list = x.split(',')
input_list.remove("SPSS")
input_list.append("SPARK")
# Write code to append 'SPARK'
print(input_list)

['five', 'four', 'one', 'six', 'three', 'two',"SPSS"]

ValueError: list.remove(x): x not in list

In [109]:
x = 'SAS,R,PYTHON,SPSS'

In [110]:
x.split(',')

['SAS', 'R', 'PYTHON', 'SPSS']

# Shadow Copying

In [111]:
  A = ["Nishanth", "Fiona", "Fulgora", "nfiona"]

In [112]:
B = A # We are copying this data to b, like we do in other languages

In [113]:
A[0] = "10"

In [114]:
A

['10', 'Fiona', 'Fulgora', 'nfiona']

In [116]:
B

['10', 'Fiona', 'Fulgora', 'nfiona']

we didn't change B still it changed B, its just nature of Python. To Counter this

In [117]:
A = ["Nishanth", "Fiona", "Fulgora", "nfiona"]

In [118]:
B = A[:]

In [119]:
A[0] = "10"

In [122]:
A

['10', 'Fiona', 'Fulgora', 'nfiona']

In [123]:
B

['Nishanth', 'Fiona', 'Fulgora', 'nfiona']

In [124]:
input_str = "Kumar_Ravi_003"
x = input_str.split("_")
first_name = x[1]
second_name = x[0]
customer_code = x[2]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

In [131]:
t = (2,3.2,4,5)
print(sum(t),max(t),min(t))

14.2 5 2

In [9]:
input_str = "bmaunmdbraai#i"
city=''
place=''
len_name=len(input_str)
for i in range(0,len_name) :
    if i%2==0 :
     city=city+input_str[i]
    else :
     place=place+input_str[i]
message1=city.rstrip('#')
message2=place.rstrip('#')
x = message1+","+message2
x  # Alternate method using loops

'bandra,mumbaii'

# Sets:

In [16]:
 a = {4,2,1,4}

In [17]:
type(a)

set

In [18]:
a.add("australia")

In [19]:
a

{1, 2, 4, 'australia'}

In [20]:
 # look carefully in above as it Sorted asc, Removed Duplicates, and showed in curly braces.

In [21]:
a[0] = 1 # immutable

TypeError: 'set' object does not support item assignment

In [23]:
a[::-1]

TypeError: 'set' object is not subscriptable

In [24]:
# Doesn't support indexing

In [26]:
a.remove(2)

In [27]:
a

{1, 4, 'australia'}

In [28]:
a.pop()

1

In [29]:
a

{4, 'australia'}

In [31]:
a.pop()

4

In [32]:
a

{'australia'}

In [33]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [36]:
print( A | B) #Union or this can be written like this as well
A.union(B)

{0, 1, 2, 3, 4, 5, 6, 8}

{0, 1, 2, 3, 4, 5, 6, 8}

In [37]:
print(A & B) # intersection
A.intersection(B)

{2, 4}

{2, 4}

In [40]:
print( A - B) # Difference in only A Element
A.difference(B) #only A element

{0, 8, 6}

{0, 6, 8}

In [43]:
print( A ^ B) #symmetric Difference

{0, 1, 3, 5, 6, 8}

# Dictionaries:

In [44]:
d = {}

In [45]:
type(d)

dict

In [46]:
d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

In [47]:
t = (1, 2, 4, 3)

In [48]:
print(t[4])

IndexError: tuple index out of range

In [49]:
t[3] = 5

TypeError: 'tuple' object does not support item assignment

In [50]:
print(t[1:-4])

()

In [51]:
print(len(t))

4

In [52]:
x = 1,2,

In [53]:
type(x)

tuple

In [54]:
x = ((1,2,3), 4,5)

In [55]:
type(x)

tuple

In [56]:
x = (Hello,'2','3')

NameError: name 'Hello' is not defined

In [57]:

input_tuple = ('Monty Python', 'British', 1969)
l = list(input_tuple)
l = l.append("Python")
tuple_2 = tuple(l)
print(tuple_2)

TypeError: 'NoneType' object is not iterable

In [60]:
input_tuple = ('Monty Python', 'British', 1969)
l = list(input_tuple)
l.append("Python") #issue in previous code
tuple_2 = tuple(l)
print(tuple_2)

('Monty Python', 'British', 1969, 'Python')

# Dictionaries

In [61]:
d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

In [62]:
type(d)

dict

In [63]:
d["India"]

'INR'

In [64]:
d["INR"] #can index only keys

KeyError: 'INR'

In [65]:
d.keys()

dict_keys(['India', 'USA', 'France'])

In [66]:
d.values()

dict_values(['INR', 'USD', 'Euros'])

In [68]:
d[0] # can't index with either values or positions

KeyError: 0

In [69]:
d["India"] = "Rupees"

In [70]:
d

{'India': 'Rupees', 'USA': 'USD', 'France': 'Euros'}

In [71]:
d.popitem()

('France', 'Euros')

In [72]:
d

{'India': 'Rupees', 'USA': 'USD'}

In [76]:
d.pop("India")

'Rupees'

In [77]:
d

{'USA': 'USD'}

In [78]:
d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

In [79]:
sorted(d)

['France', 'India', 'USA']

In [80]:
d

{'India': 'INR', 'USA': 'USD', 'France': 'Euros'}

In [85]:
d.update({"India":"$"})

In [86]:
d

{'India': '$', 'USA': 'USD', 'France': 'Euros'}

In [87]:
d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

In [89]:
e = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [92]:
e[104][-1]

'Product Lead'

In [93]:
d = dict(a=1, b=2)

In [95]:
d

{'a': 1, 'b': 2}

In [102]:
dict_1 = {"Python":40, "R":45}

In [103]:
dict_1.delete('R':45)

SyntaxError: invalid syntax (512617723.py, line 1)

In [104]:
del dict_1['R']

In [105]:
dict_1

{'Python': 40}

In [106]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']