# **Introduction To Python**

This will cover basic of python, I've started learning in online modules and from IITB - Nishanth fiona

Datatypes we have in python are below:

In [11]:
type("snr")

str

In [12]:
type(snf)

NameError: name 'snf' is not defined

In [13]:
type(165445)

int

In [14]:
type(False)

bool

In [15]:
type(155.64)

float

Common types are String,Float, Integers,Boolean <br>
there are other type of data types exists in python as well.

Some python behaviours :

In [2]:
print("Hello World")

Hello World

In [3]:
name = input("Enter your Name : ")

Enter your Name : Fiona

In [4]:
name

'Fiona'

In [6]:
print("welcome",name )

welcome Fiona

In [8]:
print("fiona"*5)

fionafionafionafionafiona

In [10]:
age = int(input("enter your age :"))
print("you are",age*12,"month old")

enter your age :25
you are 300 month old

##### For Other Datatypes Refer: https://www.w3schools.com/python/python_datatypes.asp