# Control Structures and Functions
Control structures are the essence of programming; they help computers do what they do best: automate repetitive tasks intelligently. The most common control structures are if-else statements, for and while loops, and list and dictionary comprehensions. This session will cover all these concepts.

### If statements
"IF" statements are imperative in Python and they help us build programs that could make decisions based on a specified condition


*   If I am tired, I'll go to bed

*   If I am hungry, I'll order food

Notice all these applications start with the word 'IF' and that is the first way we are going to control our applications.

And before writing down a code to mimic a decision, let us first look at the relational operators that would help us test or define some kind of relation between two entities.

Relational operators are used to test equality or inequality of a condition and that condition might change based on your preference.

```
Example -
If its raining == True:
  I'll get an umbrella

```

<h2 style = "color:Brown"> Relational Operators</h2>

- Compares the values on either side of the operator and returns and boolean value as True or False.

#### Double equal to operator

In [1]:
10 == 10

True

<h4 style = "color:Red">Note</h3>

#####' = ' is an assignment operator; it is used to assign value to a variable on the left.

#####'==' is a relational operator; it is used for comparision of equality.

In [2]:
10 == 5

False

#### Not equal to operator

In [3]:
10 != 5

True

#### Greater than operator

In [4]:
10 > 5

True

#### Less than operator

In [5]:
10 < 5

False

#### Greater than equal to operator

In [6]:
10 <= 5

False

#### Less than equal to operator

In [7]:
10 >= 5

True

<h2 style = "color:Brown">Decision Making

Now let's get back to writing a conditional statement with the 'if' condition

To do that we would write it 'if' followed by an expression

#### Write a program to check value in variable x is less than 99

In [8]:
x = 45

if x < 99:
    print(x, "is less than 99")
else:
    print(x, "is more than 99")

45 is less than 99

In [9]:
x = 919

if x < 99:
    print(x, "is less than equal to 99")
elif x == 99:
    print(x, "is equal to 99")
else:
    print(x, " is more than 99")

919  is more than 99

## Logical Operators
We use logical operators in situations where we have multiple conditions

####   AND
####   OR
####   NOR
####   XOR

Are some of the common and most widely used logical operators
You can learn more about them from this link: https://pythonlessons.net/python-logic-gates/

#### Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama only if he or she is above 60 years or below 18 years of age

In [10]:
x = int(input("Enter your age : "))

if x <= 18 or x >= 60 :
    print("Welcome to Party!!")
else:
    print("Sorry!! you do not fit in the age criteria")

Enter your age : 36
Sorry!! you do not fit in the age criteria

#### Write a program which offers various discounts based on purchase bills

In [11]:
shoppinng_total = 550

if shoppinng_total >= 500:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 250:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 100:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

You won a discount voucher of flat 1000 on next purchase

#### Example on nested if-else

In [12]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check New Zealand made it to Finals in 20th century : "))

if year in world_cups :
    if "New Zealand" in world_cups[year] :
        print("New Zealand made it to Finals")
    else:
        print("New Zealand could not make it to Finals")
        
else:
    print("World cup wasn't played in", year)

Enter year to check New Zealand made it to Finals in 20th century : 2011
New Zealand could not make it to Finals

<h2 style = "color:Brown">Loops and Iterations

Let’s look at a small example where you have a person’s income and expense data across five months in the form of a list, and you want to compute his savings across these five months. You may be thinking of doing this manually by taking the first elements from the two lists and subtracting them, then again taking the second elements and subtracting, and so on. This may look simple, but let’s say it is across 10 or 20 years. Would you do the same? 

 

This is where the concept of iteration comes in handy, as you are repeating the same operation multiple times. With this in mind, let’s learn more about it.

Let's start with a simple 'While' loop - 
##### A while loop begins with a keyword 'While' followed by an expression 
##### So While this condition is satisfied keep running the loop

In [13]:
# Let's create a pin checker which we generally have in our phones or ATMs
pin = input("Enter your four digit pin: ")
while pin != '1234':
    pin = input('Invalid input, please try again: ')  
print("Pin validation successful.")

Enter your four digit pin: 4
Invalid input, please try again: 5
Invalid input, please try again: 6
Invalid input, please try again: 65
Invalid input, please try again: 654654
Invalid input, please try again: 6545
Invalid input, please try again: 12345
Invalid input, please try again: 1234
Pin validation successful.

In [14]:
# Now if we want to add a maximum number of tries allowed condition we'll use the if loop

import sys    #required for exiting the code and displaying an error

pin = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
     sys.exit("Too many invalid attempts")   #error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

Enter your four digit pin: 1
Invalid input, please try again: 2
Invalid input, please try again: 3

SystemExit: Too many invalid attempts

C:\Users\GWG1\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3534: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [15]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

1
3
4
2
5
6

In [16]:
# iterate over a string

string = "New York"
for ch in string:
    print(ch)

N
e
w

Y
o
r
k

In [17]:
# iterate over a string - modify print using end

string = "New York"
for ch in string:
    print(ch, end = ":") # default value of end = "\n"

N:e:w: :Y:o:r:k:

In [18]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['Cornor', 24]
5 ['Trump', 27]

In [19]:
# iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [20]:
# Generate range of values.
range(1, 101)

range(1, 101)

In [21]:
l = list(range(1,101))
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [22]:
# Iterate over range of values

for i in range(1, 101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [23]:
# different variations in range

print(list(range(1, 100, 2) ))# gives numbers from 1 to 100 with a step count of 2
print(list(range(100, 0, -1))) # gives a reversed sequence of numbers from 100 to 1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Ex. Write a program to print prime numbers between 1 to 20

In [24]:
for n in range(1, 20):
    flag = True
    for i in range(2, n):
        if n % i == 0:
            flag = False
            break   
    if flag :
        print(n)

1
2
3
5
7
11
13
17
19

<h2 style = "color:Brown">Comprehensions

In [25]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

#### The Functional Approach

In [26]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list

l2 = [len(i) for i in l1]

print(l2)

[11, 5, 4, 6, 14]

In [27]:
# iterating over l1 and l2 simultaneously

for i,j in zip(l1,l2):
    print(i, " - ", j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

#### Dictionary comprehension

In [28]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d = {i : len(i) for i in l1}

print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [29]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
vowels

Enter a word : rdyitfkuhbj

{'i', 'u'}

<h2 style = "color:Brown">Functions</h2>

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [31]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
    
    return fact

factorial(5)

120

In [32]:
factorial(10)

3628800

#### Function Arguments

In [33]:
def func(name, age = 35):  # default parameter
    print("name : ", name)
    print("age : ", age)

In [34]:
func("Jane", 25)

name :  Jane
age :  25

In [35]:
func("Jane")

name :  Jane
age :  35

In [36]:
def func(name, age = 35, city = "New York"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Seattle") # key-word argument

name :  Jane
age :  35
city :  Seattle

In [37]:
def var_func(*args):
    print(args)
    
var_func(1,3,"abc") # variable-length argument

(1, 3, 'abc')

<h2 style = "color:Brown"> Lambda Function

In [38]:
# Write a lambda function to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

<h2 style = "color:Brown">map - filter - reduce

#### Some more examples on map - filter - reduce

In [39]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

<map object at 0x000001F5D144EA10>
[4, 16, 25]

#### Defining a function and using it in map

In [40]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

#### Filter function to return the multiples of 3

In [41]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [ ]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

#### Reduce to return product of elements

In [42]:
from functools import reduce

q  = reduce(lambda x, y: x*y, range(1,4))

print(q)

6